.is-active-button {
  border: 2px solid aqua;
  box-shadow: 2px 5px #eaeaea;
  //   padding: 2px;
}

.icon-centered {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
